<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj sie</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}" href="../static/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
    <h1 class="login-header">Zaloguj sie</h1>
    <i class="fa-solid fa-lock fa-10x lock-icon"></i>
    <form class="login-form" action="/login" method="post">
        <input name="username" placeholder="nazwa uzytkownika" class="form-item">
        <input name="password" placeholder="haslo" type="password" class="form-item">
        <button type="submit" class="form-item">Zaloguj sie</button>
    </form>
    <p>
        Nie masz jeszcze konta? <a href="#" th:href="@{/register}"> Zarejestruj sie </a>
    </p>
</div>
</body>
</html>