<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista przepisow</title>
</head>
<body>
<div th:if="${category ne null}">
    <img width="400" alt="category logo" th:src="@{|${category.img}|}">
</div>
<div th:unless="${category ne null}">
    <img width="400" alt="category logo" th:src="@{/images/chef.png}">
</div>
<ul>
    <li th:each="recipe : ${recipesList}">
        <a th:href="@{|/recipe/${recipe.id}|}" th:text="${recipe.name}"></a>
    </li>
</ul>
</body>
</html>