<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Zarejestruj sie</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}" href="../static/styles/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
  <i class="fa-solid fa-face-smile fa-10x"></i>
  <h1>Rejestracja Zakonczona</h1>
  <a th:href="@{/}">Strona glowna</a>
</div>
</body>
</html>