<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Aktualizacja danych</title>
</head>
<main layout:fragment="content">
<div class="text-center">
  <i class="fa-solid fa-pen fa-10x"></i>
  <h1 class="fst-italic">Aktualizacja danych</h1>
  <i class="fa-solid fa-lock fa-10x lock-icon"></i>
  <p class="fst-italic" th:text="|Update danych dla uzytkownika: ${userToInsert.email}|"></p>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form class="login-form" th:action="@{/update}" method="post" th:object="${userToInsert}" novalidate>
        <div class="mb-3">
          <label for="firstname" class="form-label">Imie: </label>
          <input id="firstname" placeholder="imie" class="form-control" th:field="*{firstName}" required>
          <p th:errors="*{firstName}" class="alert alert-warning"></p>
        </div>
        <div class="mb-3">
          <label for="lastname" class="form-label">Nazwisko: </label>
          <input id="lastname" placeholder="nazwisko" class="form-control" th:field="*{lastName}" required>
          <p th:errors="*{lastName}" class="alert alert-warning"></p>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Haslo: </label>
          <input id="password" type="password" placeholder="haslo" class="form-control" th:field="*{password}">
          <p th:errors="*{password}" class="alert alert-warning"></p>
        </div>
        <div class="mb-3">
          <input type="hidden" th:field="*{email}">
        </div>
          <button type="submit" class="btn btn-outline-success">Aktualizuj dane</button>
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
</main>
</html>