<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Aktualizacja danych uzytkownika</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
  <h1 class="login-header">Aktualizacja danych</h1>
  <i class="fa-solid fa-lock fa-10x lock-icon"></i>
  <p th:text="|Update danych dla uzytkownika: ${userToInsert}|"></p>
  <form class="login-form" action="/update" method="post" th:object="${userToInsert}">
    <input name="firstname" placeholder="imie" class="form-item" th:field="*{firstName}">
    <input name="lastname" placeholder="nazwisko" class="form-item" th:field="*{lastName}">
    <input type="password" name="pass" placeholder="haslo" class="form-item" th:field="*{password}">
    <input type="hidden" th:field="*{email}">
    <button type="submit" class="form-item">Aktualizuj dane</button>
  </form>
</div>
</body>
</html>